<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sayuka</title>
</head>
<body>
    <form action="/change" method="POST">
        <input type="checkbox" name="first" id="first">
        <label for="first">z7jt38ew4rsqvkqpckdy</label>
        <input type="checkbox" name="second" id="second">
        <label for="second">gbpojorc6y27fuw7qn48</label>
        <button type="submit">Change</button>
    </form>
</body>
</html>